<nav class="absolute top-0 right-0 px-5 left-0 h-[50px] flex justify-between items-center text-white bg-gray-500 ">
    <h1 class="font-bold">Angular</h1>
    <span>
        <a routerLink="/"> Posts</a>
        <a routerLink="/users"> Users</a>
    </span>
</nav>